<body id="body">
    <div id="dashboard_header">
        <span id="header_logo">★</span>
        <span id="header_title">Home</span>
        <button id="login_button">Log In</button>
    </div>

    <div id="table_div">
        <table id="table">
            <tr>
                <th>ID</th>
                <th>Nama</th>
                <th>Tipe</th>
                <th>Lokasi</th>
                <th>Kapasitas</th>
                <th>Deskripsi</th>
                <th>Status</th>
            </tr>

            <!-- <tr>
                <td>0</td>
                <td>Ayam</td>
                <td>Binatang</td>
                <td>Tanah</td>
                <td>1</td>
                <td>ayam goreng enak dimakan</td>
                <td>Hidup kalau bernafas</td>
            </tr> -->
        </table>
    </div>
</body>

<link rel="stylesheet" href="../public/css/index_style.css">
<script type="module" src="../public/js/index.js"></script>
