#field_body{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
}

#login_card{
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.info_field{
    box-sizing: border-box;
}

#login_texts{
    font-size: 10px;
}